<div class="img1">
  <header >
<nav class="navbar navbar-expand-sm bg-success">
    
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="navbar-brand" href="#"><img src="assets/img/logo.png" alt="Logo" height="50" width="55" title="Home">
            </a>
        </li>
        
        <li class="nav-item dropdown li">
            <a class="a nav-link dropdown-toggle" href="#" data-toggle="dropdown">Category</a>
            <div class="dropdown-menu sub-menu">
                <a class="dropdown-item" routerLink="addcateg"><img class="img" src="assets/img/add.jpg" alt="" height="25" width="25">&nbsp; Add Category</a>
                <a class="dropdown-item" routerLink="viewcateg"><img class="img" src="assets/img/view.png" alt="" height="20" width="25">&nbsp; View Category</a>
            </div>
        </li>
        
        <li class="nav-item dropdown li">
            <a class="a nav-link dropdown-toggle" href="#" data-toggle="dropdown" >Food</a>
            <div class="dropdown-menu sub-menu">
                <a class="dropdown-item" routerLink="addfood"><img class="img" src="assets/img/add.jpg" alt="" height="25" width="25">&nbsp; Add Food</a>
                <a class="dropdown-item" routerLink="viewfood"><img class="img" src="assets/img/view.png" alt="" height="20" width="25">&nbsp; View Food</a>
            </div>
        </li>
        
        <li class="nav-item">
            <a class="a nav-link" routerLink="viewbooking">View Booking</a>
        </li>
        <li class="nav-item">
            <a class="a nav-link" routerLink="viewhistory">View User</a>
        </li>

        <li *ngIf="userName" class="nav-item dropdown">
            <a class="a col nav-link dropdown-toggle"  data-toggle="dropdown" >
              Welcome To Admin: {{userName.fullName.split(' ')[0]}}
            </a>
            <div class="dropdown-menu">
              <a class="red dropdown-item" href="" (click)="onLogout()">Log Out</a>
            </div>
        </li>

    
     </ul>
    </nav>
</header>
<div class="dv">
<router-outlet></router-outlet>
</div>
</div>

<!-- <div>
    <img src="assets/img/img.webp"  width="100%" alt="">
</div> -->
