
<!-- <nav class="navbar navbar-expand-sm bg-dark  " > 
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="addfood">AddFood</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="viewfood">ViewFood</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="editfood">EditFood</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="addcateg">AddCategory</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="viewcateg">ViewCategory</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="editcateg">EditCategory</a>
        </li>

    </ul>
</nav>
 -->
<router-outlet></router-outlet>